<h2>Lo Sentimos...</h2>
<h3>Hubo un error realizando el registro. Recuerde que todos los campos deben ser completados para registrarse.</h3>
<button><a href="http://localhost:8080/signup">Volver a Sign up</a></button>