<div
  class="bg-indigo-50 flex flex-col h-min-screen gap-y-10 relative p-10"
>
  <i
    class="fa-solid fa-left-long text-2xl absolute top-2 left-3 cursor-pointer"
    id="back"
  ></i>
  <h2 class="primary-font text-5xl ml-5 mt-5">Developers</h2>
  <div id="developers" class="w-full flex flex-wrap gap-3 grow">
  </div>
</div>

<script src="/js/developers.js"></script>