<h2>Log in:</h2>
<form action="/api/sessions/login" method="post" id="loginForm">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="LOGIN">
</form>
<p>Don't have an account? <a href="/signup">Sign up</a>!</p>
<button onclick="location.href = '/api/sessions/auth/github'">GITHUB</button>